.App {
  text-align: center;
}


.Home {
  margin-top: 80px;
}

.Home-img {
  width: 25%;
  height: auto;
}

.Coffee {
  margin-top: 20px;
}

.Coffee-img {
  width: 30%;
  height: auto;
}

.Pokka {
  margin-top: 20px;
}

.Pokka-img {
  width: 30%;
  height: auto;
}

.Calpico {
  margin-top: 20px;
}

.Calpico-img {
  width: 30%;
  height: auto;
}

.Navbar {
  padding: 1rem;
}

.Navbar a {
  font-size: 1.5rem;
  margin: 1rem;
  color: rgb(82, 82, 82);
  text-decoration: none;
}

.Navbar a.active {
  font-size: 1.5rem;
    margin: 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}